.header{
  top: 0;
  width: 100%;
  z-index: 1000;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: #ff8fd6f3;
  margin-top: 20px;
}

::-webkit-scrollbar{
  display: none;
}

.div{
  justify-items: flex-start;
  display: flex;
  margin: auto;
  align-items: center;
}

.cal1{
  text-align: center;
  justify-items: flex-start;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}

.ค้นหา{
  text-align: center;
  width: auto;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-items: flex-start;
  background-color: rgb(233, 139, 228);
  border-radius: 5px;
  border: 2px double blueviolet;
}

.ค้นหา:hover{
  color: blue;
  background-color: lightsalmon;
  transition:  0.4s ease;
  transform: scale(0.96);
}

.ค้นหา:active{
  background-color: #ff0000;
  color: #000;
}
.input{
  width: 100%;
  margin: auto;
  font-size: 17px;
  justify-content: center;
  display: flex;
  background-color: rgba(226, 186, 255, 0.667);
  border-radius: 7px;
  border: 3px solid rgb(226, 43, 43);
}

.input:hover{
  border: inset 3px rgb(255, 0, 0);
  transform: scale(0.993);
  transition: 0.4s ease;
}

.input:active{
  background-color: white;
}

.edout{
  justify-items: center;
  display: flex;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.603);
  width: auto;
}

.output{
  margin: auto;
  justify-items: flex-start;
  display: flex;
}

button {
  justify-items: flex-start;
	border: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	outline: none;
	transition: 0.5s ease;
  align-items: center;
  margin: auto;
}

.btn:hover { 
    transform: scale(0.8);
}

.change{
  background-image: url("https://cdn3d.iconscout.com/3d/premium/thumb/calculator-3d-icon-download-in-png-blend-fbx-gltf-file-formats--accounting-calculation-finance-math-mathematics-mobile-apps-pack-user-interface-icons-8550483.png");
  background-size: cover;
  align-items: flex-start;
  margin-left: auto;
	cursor: pointer;
	mask-image: none;
	width: 40px;
  height: 40px;
	border-radius: 10px;
	border: 1.5px white solid;
}

.change:hover {
	transform: scale(1.1) rotate(360deg);
	width: 40px;
  height: 40px;
	border-radius: 10px;
	border: 2px rgb(255, 0, 0) solid;
	margin-left: auto;
}
.periodic-table{
    display: flex;
    justify-items: flex-start;
    cursor: pointer;
    left: 100%;
    background-image: url("https://t4.ftcdn.net/jpg/05/34/46/55/360_F_534465593_vrjvDwqJ7vQV2ykNjRV1dbhCXSc4Pf1n.jpg");
    border-radius: 20px;
    background-size: 100%;
    width: 100%;
    background-size: cover;
    background-color: rgb(120, 120, 170);
    border: 1.2px;
    width: 110px;
    height: 30px;
    text-decoration: none;
    margin: auto;
    
}

.periodicTablelink{
    margin: auto;
    display: flex;
    justify-items: flex-start;
    color: white;
    text-align: center;
    font-style: oblique;
    text-decoration: none;
}

.periodic-table:hover{
    transform: scale(0.7);
}

.PeriodicTable-ed{
  justify-items: flex-start;
  display: flex;
  margin: auto;
  text-decoration: none;
}

:root {
	--font: #020202;
	--btn: #ff8fdcc8;
	--btn-hover: #983d3dd1;
	--btn-active: #f41dffe1;
	--btn-red: rgb(255, 132, 45);
	--btn-red-hover: rgba(255, 0, 0, 0.475);
	--btn-red-active: rgba(255, 119, 0, 0.747);
	--btn-blue: rgb(255, 70, 70);
	--btn-blue-hover: rgba(255, 0, 0, 0.413);
	--btn-blue-active: rgba(253, 75, 75, 0.498);
  }
  
  *,
  *::before,
  *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  }


  body {
    background-image: url(https://i.pinimg.com/originals/69/a6/0f/69a60f001389c83a8f1f636c93710672.jpg);
    background-color: rgb(0, 0, 0);
    background-size: cover;
    max-width: 100%;
    padding: auto;
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
  }

  .right-aligned {
    margin-left: auto;
	}

  button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    transition: 0.5s ease;
  }

  .btn:hover{
    transform: scale(0.9);
  }

  /* MAIN */
  
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
  }
  
  /*
  .light{
    top: 50vh;
    left: 50vw;
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    box-shadow: 
    0 0 15px white,
    0 0 50px white,
    0 0 100px white,
    0 0 200px white,
    0 0 300px white;
    transition: none;
  }
  */

  .calculator {
    background-size: cover;
    margin-top: 40px;
    width: 400px;
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(143, 143, 143, 0.559);
    background-image: url(https://i.pinimg.com/736x/6c/90/1f/6c901fc0ce4801f211a3d68e5279682a.jpg);
  }
  
  .screen {
	color: #000000;
	padding: 10px 20px;
	border: 6px inset rgb(243, 186, 195);
	border-radius: 5px;
	margin-bottom: 20px;
	background-image: url(https://i.pinimg.com/736x/19/b4/5a/19b45a7784e33eb9e256e2fae77cd82e.jpg);
  background-size: cover;
	background-color: rgb(153, 238, 173);
	text-align: right;
	word-wrap: break-word;
	word-break: break-all;
  }
  
  .screen-last {
	min-height: 32px;
	font-size: 20px;
  }
  
  .screen-current {
	min-height: 64px;
	font-size: 40px;
  }

  .buttons-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
  }
  
  .span-2 {
	grid-column: span 2;
  }
  
  .Update{
    background-color: #f6b621;
    color: #ffffff;
    background-image: url("https://png.pngtree.com/png-vector/20220616/ourmid/pngtree-work-in-progress-warning-sign-with-yellow-and-black-stripes-painted-png-image_5060340.png");
    background-size: cover;
    width: 100%;
    padding: 20px;
	  border: 1.5px solid;
	  border-radius: 5px;
    font-size: 20px;
    cursor: not-allowed;
  }

  .Update:hover{
    border-radius: 50px;
    color: #51ff00;
    background-color: red;
    border: 1.5px solid rgb(255, 251, 0);
  }

  .btn {
  width: 100%;
	padding: 20px;
	border: 1.5px solid;
	border-radius: 5px;
	background-color: var(--btn);
	font-size: 20px;
  }
  
  .btn:hover {
  transition: 0.2s ease;
  transform: scale(0.8);
  border: inset 1.9998px;
	background-color: var(--btn-hover);
  border-radius: 30px;
  color: #ffffff;
  }
  
  .btn:active {
	background-color: var(--btn-active);
  transform: scale(1.01);
  }
  
  .btn-red {
	background-color: var(--btn-red);
  }
  
  .btn-red:hover {
	background-color: var(--btn-red-hover);
  }
  
  .btn-red:active {
	background-color: var(--btn-red-active);
  }
  
  .btn-blue {
	background-color: var(--btn-blue);
  }
  
  .btn-blue:hover {
	background-color: var(--btn-blue-hover);
  }
  
  .btn-blue:active {
	background-color: var(--btn-blue-active);
  }

  .button1{
    text-decoration: none;
    margin: auto;
    justify-items: flex-start;
  }

  .gitd{
    text-decoration: none;
  }

  .fa-github {
  justify-items: flex-start;
  margin-left: auto;
  margin-right: 10px;
  text-decoration: none;
	color: var(--font);
	font-size: 30px;
	transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
	transform: rotate(360deg) scale(1.2);
	color: rgb(230, 255, 6);
	border: rgb(0, 0, 255) solid 2px;
	border-radius: 20px;
  }

  /* Hover for desktop only */
        @media (hover: hover) {
            button:hover {
                background-color: #42a5f5;
                transform: scale(1.05);
            }
        }

        /* Active for touch screens only */
        @media (hover: none) {
            button:active {
                background-color: #ff4081;
                transform: scale(0.95);
            }
        }
